<html>
<head>

<body style = "background: rgb(200,220,189)">
<h1> TITANIC SURVIVIAL PREDICTION</h1>

<form action="/predict" method="POST"> 
<input type = "text" name = "Passanger Class" placeholder = "Enter 1 or 2 or 3"/>
<input type = "text" name = "Sex" placeholder = "Enter 0 for F or 1 for M"/>
<input type = "text" name = "Age" placeholder = "Enter Passanger Age"/>
<input type = "text" name = "Child accompanied" placeholder = "Enter 0 -No or 1 for Y"/>
<button type = "submit" name  = "predict">Predict Survival </button>
   

</form>


</body>
</head>
{{prediction_text}}

</html>